<% html_title('Manage Vendors/Volunteers') %>

<div class="contextual">
  <%= link_to 'New Vendor/Volunteer', new_project_tracked_user_path(@project), class: 'icon icon-add' %>
</div>

<h2>Manage Vendors/Volunteers</h2>

<% if @tracked_users.empty? %>
  <p class="nodata">No Vendors/Volunteers found. Create a new Vendor/Volunteer to get started.</p>
<% else %>
  <p class="info">
    Showing <%= @tracked_users.count %> of <%= @tracked_users_count %> Vendors/Volunteers
  </p>

  <table class="list tracked-users">
    <thead>
      <tr>
        <th>Type</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tracked_users.each do |tracked_user| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= tracked_user.user_type %></td>
          <td><%= tracked_user.user_id %></td>
          <td>
            <%
              user_id_field_id = NysenateAuditUtils::CustomFieldConfiguration.user_id_field_id
              filter_url = project_issues_path(@project,
                set_filter: 1,
                "f[]": ["cf_#{user_id_field_id}", "status_id"],
                "op[cf_#{user_id_field_id}]": "=",
                "v[cf_#{user_id_field_id}][]": tracked_user.user_id,
                "op[status_id]": "*"
              )
              # Fix the double array encoding in the URL
              filter_url = filter_url.gsub('f%5B%5D%5B%5D=', 'f%5B%5D=')
            %>
            <%= link_to tracked_user.name, filter_url, target: '_blank',
                title: 'View all tickets for this Vendor/Volunteer' %>
          </td>
          <td><%= tracked_user.email %></td>
          <td><%= tracked_user.phone %></td>
          <td><%= tracked_user.location %></td>
          <td>
            <span class="status-badge <%= tracked_user.status.downcase %>">
              <%= tracked_user.status %>
            </span>
          </td>
          <td class="buttons">
            <%= link_to 'Edit', edit_project_tracked_user_path(@project, tracked_user), class: 'icon icon-edit' %>
            <%= link_to 'Delete', project_tracked_user_path(@project, tracked_user),
                method: :delete,
                data: { confirm: "Are you sure you want to delete #{tracked_user.name}?" },
                class: 'icon icon-del' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span class="pagination">
    <%= pagination_links_full @tracked_users_pages %>
  </span>
<% end %>

<style>
  .info {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-left: 3px solid #169;
  }

  .nodata {
    padding: 2em;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
  }

  .status-badge {
    padding: 0.2em 0.5em;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: bold;
  }

  .status-badge.active {
    background-color: #c6f6d5;
    color: #2f855a;
  }

  .status-badge.inactive {
    background-color: #fed7d7;
    color: #c53030;
  }
</style>
