<% html_title('Manage Subjects') %>

<div class="contextual">
  <%= link_to 'New Subject', new_project_subject_path(@project), class: 'icon icon-add' %>
</div>

<h2>Manage Subjects</h2>

<% if @subjects.empty? %>
  <p class="nodata">No subjects found. Create a new subject to get started.</p>
<% else %>
  <p class="info">
    Showing <%= @subjects.count %> of <%= @subjects_count %> <%= pluralize(@subjects_count, 'subject') %>
  </p>

  <table class="list subjects">
    <thead>
      <tr>
        <th>Type</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Location</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= subject.subject_type %></td>
          <td><%= subject.subject_id %></td>
          <td><%= subject.name %></td>
          <td><%= subject.email %></td>
          <td><%= subject.phone %></td>
          <td><%= subject.location %></td>
          <td>
            <span class="status-badge <%= subject.status.downcase %>">
              <%= subject.status %>
            </span>
          </td>
          <td class="buttons">
            <%= link_to 'Edit', edit_project_subject_path(@project, subject), class: 'icon icon-edit' %>
            <%= link_to 'Delete', project_subject_path(@project, subject),
                method: :delete,
                data: { confirm: "Are you sure you want to delete #{subject.name}?" },
                class: 'icon icon-del' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span class="pagination">
    <%= pagination_links_full @subjects_pages %>
  </span>
<% end %>

<style>
  .info {
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #f0f0f0;
    border-left: 3px solid #169;
  }

  .nodata {
    padding: 2em;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
  }

  .status-badge {
    padding: 0.2em 0.5em;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: bold;
  }

  .status-badge.active {
    background-color: #c6f6d5;
    color: #2f855a;
  }

  .status-badge.inactive {
    background-color: #fed7d7;
    color: #c53030;
  }
</style>
